<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Kloeckner trello TestCases Suite">

	<test name="Kloeckner trello TestCases">
		<classes>
			<class name="kloeckner.TestCases.VerficationOfCardDetails"></class>
			<class name="kloeckner.TestCases.VerificationOfAddingMembers"></class>
		</classes>
	</test>
</suite>